* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;

    background: #E5E5E5;
}

.container {
    background: #FFFFFF;
    width: 840px;
    height: 595px;
    margin: auto;
}

.wrapper {
    position: absolute;
    width: 420px;
    height: 385px;
    background-color: black;
    margin: 105px 210px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.items_wrapper {
    margin: 25px;
}

.inputVal {
    width: 340px;
    height: 34px;
    background: #F1F1F1;
    border: 1px solid #000000;
    padding: 13px 15px;
    font-size: 28px;
    line-height: 33px;
    text-align: right;
    color: #000000;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.calc_Btn {
    background: #F1F1F1;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 40px;
    cursor: pointer;

    font-size: 14px;
    line-height: 16px;
    color: #000000;

    margin-top: 15px;
}

.secD_col,
.secD_col,
.thD_col,
.fTh_col,
.fifth_col {
    margin-left: 15px;
}

.fSt_col {
    margin-top: 55px;
    margin-left: 70px;
}

.rvt {
    border: 0;
    box-shadow: none;
}

.equal {
    height: 95px;
    width: 40px;

}

.button_wrapper {
    display: flex;
}
